i.icon.twitter {
    -webkit-mask-image: url(/svg/icon-twitter.svg);
}

i.icon.instagram {
    -webkit-mask-image: url(/svg/icon-instagram.svg);
}

i.icon.email {
    -webkit-mask-image: url(/svg/icon-email.svg);
}

i.badge {
    display: block;
    height: 5rem;
    width: 5rem;
    background: no-repeat center;
    background-size: contain;
    margin-bottom: 10px;
}

ul.badge-list  {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    max-width: 40rem;
}

ul.badge-list li {
    list-style: none;
    flex-basis: 200px;
}

ul.badge-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
}

ul.badge-list a span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction: row;
}

i.icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: var(--color-alternative) no-repeat center;
    background-size: contain;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: background-color var(--duration-link-off);
}

a:hover i.icon {
    background: var(--color-alternative-hover) no-repeat center;
    transition: background-color var(--duration-link-on);
}

span + i.icon {
    margin-left: .25em;
}
